<!-- <div class="recept-felulet">
    <span>Kerem adja meg az elso lepest!</span>
    <input type="text" [formControl]="elsoLepes">
    <span>Kerem adja meg a masodik lepest!</span>
    <input type="text" [formControl]="masodikLepes">
    <span>Kerem adja meg az harmadik lepest!</span>
    <input type="text" [formControl]="harmadikLepes">
    <button (click)="hozzaadas()">Hozzaadas</button>
    <div class="recept" *ngFor="let element of receptek">
        <span> Elso lepes: {{ element.elsoLepes }} </span>
        <span> Masodik lepes: {{ element.masodikLepes }} </span>
        <span> Harmadik lepes: {{ element.harmadikLepes }} </span>


    </div>
</div> -->
<app-todo></app-todo>